{
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
    "protractor": true
  },
  "globals": {
    "angular": false,
    "module": false,
    "inject": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 2,
    "no-var": 2,
    "eqeqeq": 2,
    "dot-notation": 2,
    "curly": 2,
    "default-case": 2,
    "no-else-return": 2,
    "no-empty-functions": 0,
    "no-useless-return": 2,

    "array-bracket-spacing": [2, "always"],
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": 2,
    "capitalized-comments": 0,
    "comma-spacing": [2, { "before": false, "after": true }],
    "indent": [2, 2],
    "no-multiple-empty-lines": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "object-curly-newline": [2, { "minProperties": 1 }],
    "object-curly-spacing": [2, "always"],
    "object-property-newline": 2,
    "one-var-declaration-per-line": 2,
    "padded-blocks": 2,
    "quotes": [2, "backtick", { "avoidEscape": true }],
    "space-before-function-paren": [2, "always"],
    "spaced-comment": [2, "always"],

    "arrow-body-style": [2, "always"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-numeric-literals": 2,
    "template-curly-spacing": 2
  }
}